:root{
      /* Primary Blue */
  --primary-blue: #4d5ee5;
  --dark-blue: #5669ff;
  --blue-tint: #8896ff;
  --blue-light-tint: #eef0ff;

  /* Secondary Cyan  */
  --cyan-primary: #00f8ff;
  --cyan-dark: #00dfe5;
  --cyan-tint: #4cfaff;
  --cyan-light-tint: #e5feff;

  /* Success */
  --success-primary: #29d697;
  --success-dark: #24c087;
  --success-tint: #69e2b6;
  --success-light-tint: #e9faf4;

  
  /* Danger  */
  --danger-primary: #ff6a54;
  --danger-dark: #e55f4b;
  --danger-tint: #ff9687;
  --danger-tint-light: #fff0ed;

  /* Warning */
  --warning-primary: #fdc400;
  --warning-dark: #e3b000;
  --warning-tint: #fdd54c;
  --warning-tint-light: #fef9e5;


  /* Accent */
  --accent-light-green: #b5e4ca;
  --accent-light-purple: #cabdff;
  --accent-light-blue: #b1e5fc;
  --accent-light-orange: #ffbc99;
  --accent-green: #93c782;
  --accent-blue: #4797ff;
  --accent-purple: #9d6fff;
}



  /* Primary Blue */
  $primary-blue: #4d5ee5;
  $dark-blue: #5669ff;
  $blue-tint: #8896ff;
  $blue-light-tint: #eef0ff;

  /* Secondary Cyan  */

  $cyan-primary: #00f8ff;
  $cyan-dark: #00dfe5;
  $cyan-tint: #4cfaff;
  $cyan-light-tint: #e5feff;

  /* Success */
  $success-primary: #29d697;
  $success-dark: #24c087;
  $success-tint: #69e2b6;
  $success-light-tint: #e9faf4;

  
  /* Danger  */
  $danger-primary: #ff6a54;
  $danger-dark: #e55f4b;
  $danger-tint: #ff9687;
  $danger-tint-light: #fff0ed;

  /* Warning */
  $warning-primary: #fdc400;
  $warning-dark: #e3b000;
  $warning-tint: #fdd54c;
  $warning-tint-light: #fef9e5;


  /* Accent */
  $accent-light-green: #b5e4ca;
  $accent-light-purple: #cabdff;
  $accent-light-blue: #b1e5fc;
  $accent-light-orange: #ffbc99;
  $accent-green: #93c782;
  $accent-blue: #4797ff;
  $accent-purple: #9d6fff;
  
