.basic-card{
    .list-group{
        gap:10px;
    }
    .card-title{
        margin-bottom: 0;
    }
}
.customized{
    .card-body{
        border-bottom: 1px solid #F0EEEE;
        border-left: 1px solid #F0EEEE;
        border-right: 1px solid #F0EEEE;
        border-radius: 0px 0px 5px 5px;
    }
    .card:hover{
        box-shadow: 0px 5px 10px 0px lightgrey;
    }
}
.no-border-card{
    .list-group{
        gap:10px;
    }
    .card{
        box-shadow: 0px 10px 20px 0px lightgrey;
    }
}
.simple-card{
    .list-group{
        gap:10px;

    }
}