.statistic-card {
  .card-heading {
    .card-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #1A1D1F;
        margin: 0;
        padding: 0;
    }
  }
}
