.email-template {
  font-family: "Lexend", sans-serif;
  text-align: center;
  padding: 56px 60px;
  background: white;
  border-radius: 5px;
  max-width: 600px;
  .template-heading {

    h1 {
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      margin-top: 20px;
    }
    p {
      font-family: "Lexend", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #6f767e;
      margin-top: 20px;
    }
    .color-black {
      color: #1a1d1f;
    }
  }
  .template-body {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6f767e;
    padding: 14px;
    .content-part {
      text-align: left;
      margin-bottom: 28px;
      p {
        a {
          font-family: "Lexend", sans-serif;
          color: #0f6aff;
        }
      }
      h5 {
        font-family: "Lexend", sans-serif;
        color: #1a1d1f;
        margin-top: 28px;
        padding: 0;
      }
    }
    .content-details {
      p {
        font-family: "Lexend", sans-serif;
        padding: 0 14px;
        margin-bottom: 28px;
        .link {
          color: #0f6aff;
        }
      }
    }
    .ot-primary-text {
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #0f6aff;
      margin-top: 26px;
    }
    h4 {
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #29d697;
    }
    h5 {
      font-family: "Lexend", sans-serif;
      padding: 0 14px;
    }
  }

  .template-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    gap: 10px;
    .template-btn {
      padding: 9px 2px;
      border-radius: 7px;
      background: linear-gradient(90deg, #0f6aff 0%, #21c6fb 100%);
      span {
        font-family: "Lexend", sans-serif;
        padding: 10px 16px;
        font-weight: 600;
        color: white;
        background: linear-gradient(90deg, #0f6aff 0%, #21c6fb 100%);
  
        &:hover {
          outline: none;
          border: none;
          color: #0f6aff;
          border-radius: 5px;
          background: white;
        }
      }
    }
  }

  /* Template Buttton start */

  .template-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .template-btn {
      padding: 9px 2px;
      border-radius: 7px;
      background: linear-gradient(90deg, #0f6aff 0%, #21c6fb 100%);
      span {
        font-family: "Lexend", sans-serif;
        padding: 10px 16px;
        font-weight: 600;
        color: white;
        background: linear-gradient(90deg, #0f6aff 0%, #21c6fb 100%);
  
        &:hover {
          outline: none;
          border: none;
          color: #0f6aff;
          border-radius: 5px;
          background: white;
        }
      }
    }
  }

  /* Template Buttton end */


  .template-footer {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #6f767e;
    border-top: 1px solid #dfe6e9;
    margin-top: 26px;
    p > a {
      color: #0f6aff;
    }
    .social-media-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 26px;
      gap: 8px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8.5px;
        border-radius: 50%;
        background: linear-gradient(90deg, #0f6aff 0%, #21c6fb 100%);
        &:hover{
          background: linear-gradient(90deg, #21c6fb 0%, #0f6aff 100%);
        }
      }
      
    }
    .template-footer-image {
      margin-top: 28px;
      margin-bottom: 8px;
    }
  }
}

@include devices(sm) {
  .email-template {
    padding: 26px 30px;
    .template-heading {
      h1 {
        font-size: 20px;
        padding: 0 10px;
      }
      p {
        font-size: 16px;
        padding: 0 8px;
      }
    }
    .template-body {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #6f767e;
      p {
        padding: 0;
      }
      .template-content-image {
        img {
          width: 100%;
          height: 100%;
        }
      }
      h5 {
        padding: 0;
      }
    }
    .template-button-group {
      flex-direction: column;
      padding: 0;
      button {
        width: 100%;
      }
    }
    .template-footer {
      font-size: 7px;
    }
  }
}
