// pagination
.ot-pagination {
  margin-top: 40px;
  .pagination {
    margin: 0;
    .page-item {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      .page-link {
        @include text(
          $font-family: $font-family-primary,
          $font-size: 14px,
          $font-weight: 400,
          $line-height: 16px,
          $text-color: $ot-text-table-pagination
        );
        border: 1px solid $ot-border-table-pagination;
        border-radius: 7px;
        padding: 8px 12px;
        background-color: $ot-bg-table-pagination;

        &:hover {
          background-color: transparent;
        }

        &:focus {
          box-shadow: none;
          background-color: transparent;
        }

        &.active {
          background-image: linear-gradient(90deg, #0f6aff 0%, #21c6fb 100%),
            linear-gradient(90deg, #0f6aff 0%, #21c6fb 100%);
          background-origin: border-box;
          background-clip: content-box, border-box;
          box-shadow: 2px 1000px 1px $ot-bg-table-pagination inset;
          @include text(
            $font-family: $font-family-primary,
            $font-size: 14px,
            $font-weight: 400,
            $line-height: 16px,
            $text-color: #21c6fb
          );
          border: 1px solid transparent;
        }
      }
    }
  }
}
