/*
    Media Queries mixin for the theme

    --------------------------------------------------
    Break points variables
    --------------------------------------------------
    @break-xs: 576px; // Extra Small Devices, Phones
    @break-sm: 576px; // Small Devices, Tablets
    @break-md: 768px; // Medium Devices, Desktops
    @break-lg: 992px; // Large Devices, Laptops, Desktops
    @break-xl: 1200px; // Extra Large Devices, Wide Laptops, Desktops
    @break-xxl: 1400px; // Extra Extra Large Devices, Wide Desktops
    --------------------------------------------------
    
*/

@mixin devices($point) {
  @if $point == xs {
    @media (max-width: $break-xs) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: $break-sm) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: $break-md) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: $break-lg) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: $break-xl) {
      @content;
    }
  } @else if $point == xxl {
    @media (max-width: $break-xxl) {
      @content;
    }
  }
}
