/*
    -------------------------------------------------- 
    Break points variables
    --------------------------------------------------
*/

$break-xs: 576px; // Extra Small Devices, Phones
$break-sm: 576px; // Small Devices, Tablets
$break-md: 768px; // Medium Devices, Desktops
$break-lg: 992px; // Large Devices, Laptops, Desktops
$break-xl: 1200px; // Extra Large Devices, Wide Laptops, Desktops
$break-xxl: 1400px; // Extra Extra Large Devices, Wide Desktops
